body {
  margin: 0;
  padding: 0;
  font-family: 'Amatic SC', cursive;
}

input {
  border: none;
  outline: none;
  font-family: 'Amatic SC', cursive;
  font-size: 24pt;

}
.todoInput {
  border-bottom: 2px solid rgb(124, 132, 253);
  /* border-image: linear-gradient(to right, #42d9f4 , rgb(124, 132, 253));
  border-image-slice: 1; */
}
.todoInput:focus {
  border-bottom: 2px solid #55e7c8;
  border-image: linear-gradient(to right, #42d9f4 , rgb(124, 132, 253));
  border-image-slice: 1;
}

input[type="text"] {
  width: 250px;
}
input[type="submit"] {
  margin-left: 10px;
  font-size: 20pt;
  font-family: 'Amatic SC', cursive;
}
input[type="submit"]:hover {
  cursor: pointer;
  color: #55e7c8;
}
button {
  outline: none;
  border: none;
  font-family: 'Amatic SC', cursive;
  font-size: 12pt;
}
.editBtn:hover {
  cursor: pointer;
  color: #55e7c8;
}
.deleteBtn:hover {
  cursor: pointer;
  color: #eb9c9c;
}
.todos {
  margin-top: 30px;
}
p {
  font-size: 16pt;
  display: inline;
  margin-right: 50px;
}
p:hover {
  cursor: pointer;
}
.readTodo {
  text-align: left;
  margin-left: 35%;
}
.editTodo {
  width: 150px;
}
